*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    background-color: bisque; /* Color de fondo*/
    height: 100vh; /* Altura */
    width: 100vw; /* Ancho */
    display: flex; /* Centrar */
    flex-direction: column; /*especifica cómo colocar los objetos flexibles en el contenedor flexible definiendo el eje principal y la dirección */ 
    justify-content: center; /* */
    align-items: center; /*S */
    justify-content: space-around;
}

.card{
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 10px;

}

.card img{
    width: 500px;
    height: 200 px;
    padding-bottom: 5px;

}
.card p{
    padding-bottom: 10px;
}

.card button{
    width: 100px;
    height: 30px;
    background-color: blue;
    color:white;
    border-radius: 10px;
    border-style: none;

}

.card button:hover{
    background-color: orangered;

}